* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url('./back.jpg') no-repeat center fixed;     
	background-size: cover;
	position: relative;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #010305;
	color: white;
	position: relative;
	top: 0px;
}

.nav-links a {
	color: #fff;
}

.menu {
	display: flex;
	gap: 1em;
	font-size: 16px;
}

.menu li:hover {
	background-color: #215971;
	border-radius: 5px 0px 5px 0px;
	transition: 0.3s ease;
}

.menu li {
	padding: 5px 14px;
}
.ll{
	width: 60px;
	height: 60px;
}
h1{
	font-family: "Quicksand", sans-serif;
	color: steelblue;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgrey;
}
.welcomeH{
	padding: 2%;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	flex-wrap: wrap;
}
.welcomeC{
	padding: 2%;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	flex-wrap: wrap;
}
.welcomeS{
	padding: 2%;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	flex-wrap: wrap;
}
.login{
	background-color: white;
	border-radius: 12px;
	width: 350px;
	height: 500px;
	position: relative;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home{
	width: 350px;
	height: 450px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.course{
	position: absolute;
	font-family: "Quicksand", sans-serif;
	color: steelblue;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px red;
	top: 100px;
	width: 350px;
}
.button{
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
}
.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	border-radius: 12px;
	top: 400px;
	left: 75px;
}

.button1:hover {
	background-color: #4CAF50;
	color: white;
}

.button2 {
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	border-radius: 12px;
	top: 400px;
	left: 155px;
}

.button2:hover {
	background-color: #008CBA;
	color: white;
}
p{
	position: absolute;
	font-family: "Quicksand", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: steelblue;
	top: 200px;
	text-align: center;
	width: 350px;
	padding-right: 5%;
	padding-left: 5%;
}
.contact{
	border: 2px solid red;
	border-radius: 12px;
	width: 300px;
	height: 400px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.course{
	position: absolute;
	font-family: "Quicksand", sans-serif;
	color: steelblue;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px red;
	top: 5px;
	left: 4px;
	width: 350px;
}
.submitB {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  white-space: nowrap;
}
.infoLocation{
	width: 500px;
	height: 40px;
	position: relative;
	top: 50px;
	left: 10px;
	display: flex;
	gap: 5px;
	align-items: center;
	padding: 5px;
	align-content:center;
}
.infoPhone{
	width: 500px;
	height: 40px;
	position: relative;
	top: 100px;
	left: 10px;
	display: flex;
	gap: 5px;
	align-items: center;
	padding: 5px;
	align-content:center;
}
.infoEmail{
	width: 500px;
	height: 40px;
	position: relative;
	top: 150px;
	left: 10px;
	display: flex;
	gap: 5px;
	align-items: center;
	padding: 5px;
	align-content:center;
}
.info2{
	width: 500px;
	height: 80px;
	position: relative;
	top: 0px;
	left: 0px;
	display: flex;
	gap: 105px;
	align-items: center;
	align-content:center;
	padding-left: 2px;
	padding-right: 2px;
}
.us{
	float: left;
	padding: 5px;
}
h5{
	font-family: "Quicksand", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: steelblue;
	text-align: center;
	width: 100px;
}

